.cart-container{
    margin-left: 30px;
    cursor: pointer;
    img{
        width: 30px;
    }

    .cart-count{
        margin-left: -10px;
        background-color: black;
        color: blanchedalmond;
        padding-right: 4px;
        border-radius: 50%;
    }
}